<div class="content-wrapper" id="editUserPermissions">

    <section class="content">

        <div clas="row">
            <div class="col-md-8">
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right">

                        <li class="active">
                            <a href="#" data-toggle="tab">Pending</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">All</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">Active</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tab">Inactive</a>
                        </li>

                        <li class="pull-left header"><i class="fa fa-user-plus"></i> Manage Application User Permissions</li>
                    </ul>
                    <div class="tab-content no-padding">


                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th style="width: 40px">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Update software</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-red">55%</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>


            </div>
        </div>
    </section>

</div>