<?xml version="1.0"?>
<SamlHelperConfig
	casServerLoginUrl="https://loginbeta.advisory.com/cas/login"
	casServerLogoutUrl="https://loginbeta.advisory.com/cas/logout"
	serviceProviderServer="http://localhost:55661"
	serviceProviderReturnUrl="http://localhost:55661/THI_AnalysisFeedback/SiamRedirection"
	migratedUserRedirectUrl="http://localhost:55661/THI_AnalysisFeedback/SiamRedirection"
	provisioningUrl="https://loginbeta.advisory.com/CrimsonProvisioningService/api/"
	certificatePath="C:\cert\x509.cer"
	sessionTimeOut="60"
	useEphemeralKey="True"
  utcSamlTimestamp="true"
/>